<body>

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  </head>
  <div class="container">
    <h1 class="text-center"> Busca de Heróis </h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          Access Token
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Digite o seu código de acesso" [(ngModel)]="accessToken"
        aria-describedby="basic-addon1" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          Nome Heroi
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Digite o nome do Heroi" [(ngModel)]="nameHero"
        aria-describedby="basic-addon1" />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary ml-2" (click)="btnPesquisar()">
        Pesquisar
      </button>
      <button type="button" class="btn btn-primary ml-2" (click)="btnPesquisarAleatorio()">
        Aleatorio
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 mt-2" id="heroi.id" *ngFor="let heroi of herois">
        <div>
          <img [(src)]="heroi.image.url" [(alt)]="heroi.name" width="100%" height="60%" />
        </div>
        <div class="input-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">
                Id
              </span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" disabled
              [(value)]="heroi.id" />
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">
                Name
              </span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" disabled
              [(value)]="heroi.name" />
          </div>

          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" disabled
              value="PowerStats" />
          </div>
          <div>
            <div class="input-group" *ngFor="let power of heroi.powerstats">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                  {{power[0]}}
                </span>
              </div>
              <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" disabled
                [(value)]="power[1]" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
